@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-image: url('/image/Wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh; */
    background-color: transparent;
}

